.box {
	    margin-top: 15px;
		background: #d7faff;
		border-color: #269abc;
		border-radius: 12px;
		border-style: solid;
		border-width: 0 0 0 4px;
		padding: 15px;
		margin-bottom: 23px;
		border: 1px solid transparent;
		
}

.uploadnoborder {
	border:none;
}

.upload {
	display:inline-block;
}

.resources {
		border: 1px solid #269abc;
		padding-bottom: 15px;
		padding-left: 15px;
}


.cntact {
		border: 1px solid #269abc;
		padding-bottom: 15px;
		padding-left: 15px;
}

.topics {
		border: 1px solid #269abc;
		padding-bottom: 15px;
		padding-left: 15px;
}


.cntrow div {
	display:inline-block;
	vertical-align: top;
	
}

.logo {
	/* margin: 10px; */
		margin-left: 2%;
	margin-right: 2%;
}

.wantcontact div {
	padding-left: 25px;
	display: inline;
}

.datagaps {
	display: inline;
	margin-left: 100px;
}

.refgap div {
	display:inline-block;
	vertical-align: top;
}

input[type=submit] {
  
  background-color: #335075;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 20px;
  border: solid;
  border-color: #d7faff;
  box-shadow: 0 4px #ddd;
  color: white;
  padding: 16px 50px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
}

input[type=reset] {
background-color: #335075;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 20px;
  border: solid;
  border-color: #d7faff;
  box-shadow: 0 4px #ddd;
  color: white;
  padding: 16px 50px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  
}

.btnfake {
	float:right;
	background-color: #335075;
	box-shadow: 0 4px #ddd;
	border: none;
	color: white;
	padding: 12px 16px;
	font-size: 16px;
	display: inline;
	height: 38px;
}


header {
	background-color:#335075;
	padding: 0px;


}

.containerhead {
	margin: 0 auto;
	background-color:#335075;
	
}

nav {
	height: 50px;
	margin: 0 auto;
	background-color:#335075;
	
}

table.nav {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	height: 50px;
	background-color:#335075;
	}
table.nav td {
	background-color:#335075;
	border-color: #335075;
	border-left-color: #ffffff;
	color: white;
	vertical-align: middle;
	text-align: center;
	
	text-shadow: 1px 1px 1px #222;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 0.95vw;
	overflow: hidden;
}

table.nav td:after {
  content: "\00A0";
}

.custom-search-box {
	float: right;
	background-color: #e0e0e0;
    border-color: #e0e0e0;
    border-right: 0;
    border-style: solid;
    box-shadow: none;
    color: #555;
	height: 38px;
	display:inline-block;

}

.btnreturn {
  background-color: #335075;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 20px;
  border: solid;
  border-color: #d7faff;
  color: white;
  padding: 16px 50px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
}


a {
	color:fff;
}

a.french {
	color: #335075;
}

.fas fa-search {
	background: #269abc;
	color: #fff;
	display: inline-block;
	font-size: 25px;
	
}


.fa-info-circle {
		border-radius: 50px;
		color: #269abc;
		display: inline-block;
		position: absolute;
		font-size: 25px;
		
		
}

body {
	color: black;
	font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
	background-color: #f9f9f9;
	margin-left:5%;
	margin-right:5%;
}


h2 {
	display:inline;
	margin-left: 35px;
}


h1 {
  display:inline;
  align: center;
  padding: 0px;

}

h3 {
	color: black;
	font-family: Helvetica,Arial,sans-serif;
    font-size: 20px;
	padding: 0px;
	margin: 0px;
}

th {
  padding: .2em;
}

td {
  padding-left: .5em;
  padding-right: .5em;
  border: 1px solid #269abc;
  background-color: #f9f9f9;
}

#trHeader {
  text-decoration: underline;
  color: #900;
}
/* #root {
	margin: 0 auto;
	
} */

.App {
	color: black;
	font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
	background-color: #f9f9f9;
	margin-left:5%;
	margin-right:5%;
}

 /* #occlevel
#occgroup 
#occlevel  
#refperiod 
#geography 
#population 
#subject2 
#subject1 
#community

#department

 { 
	 font-family: Helvetica;
	 font-size: 16px; 
	
 	 }  */
